/*@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf);
}*/
@font-face {
	font-family: Exo2;
	src: url(../fonts/Exo2Regular.ttf);
}
body {
	font-family: Exo2, sans-serif;
}
header:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 45%;
	background-color: #000;
}
.bubble21 {
	top: -20px;
	left: 55%;
	width: 21px;
	height: 21px;
	border: 3px solid #F2C94C;
	border-radius: 50%;
}
.bubble16 {
	top: 0px;
	left: 48%;
	width: 16px;
	height: 16px;
	border: 3px solid #fff;
	border-radius: 50%;
}
.bubble6-white-right {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	background-color: #fff;
	top: 12px;
	left: 55%;
}
.bubble6-orange-right {
	border-radius: 51%;
	width: 6px;
	height: 6px;
	background-color: #F2994A;
	top: 30px;
	left: 50%;
}
.bubble12 {
	top: -20px;
	left: 27%;
	width: 12px;
	height: 12px;
	border: 3px solid #F2C94C;
	border-radius: 50%;
}
.bubble19 {
	bottom: 40px;
	left: -5%;
	width: 19px;
	height: 19px;
	border: 3px solid #F2C94C;
	border-radius: 50%;
}
.bubble15 {
	bottom: 27px;
	left: -11%;
	width: 15px;
	height: 15px;
	border: 4px solid #fff;
	border-radius: 50%;
}
.bubble6-white-left {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	background-color: #fff;
	top: 30%;
	left: -8%;
}
.bubble6-orange-left {
	border-radius: 51%;
	width: 6px;
	height: 6px;
	background-color: #F2994A;
	bottom: 22px;
	left: -6%;
}
header:hover .bubble21 {
	animation: opacity 2s infinite;
}
header:hover .bubble16 {
	animation: opacity 2s infinite;
	animation-delay: .5s;
}
header:hover .bubble6-white-right {
	animation: opacity 2s infinite;
	animation-delay: .2s;
}
header:hover .bubble6-orange-right {
	animation: opacity 2s infinite;
	animation-delay: .7s;
}
header:hover .bubble12 {
	animation: opacity 2s infinite;
	animation-delay: .3s;
}
header:hover .bubble19 {
	animation: opacity 2s infinite;
	animation-delay: .8s;
}
header:hover .bubble15 {
	animation: opacity 2s infinite;
	animation-delay: .4s;
}
header:hover .bubble6-white-left {
	animation: opacity 2s infinite;
	animation-delay: .6s;
}
header:hover .bubble6-orange-left {
	animation: opacity 2s infinite;
	animation-delay: .9s;
}
@keyframes opacity {
	to { opacity: 0 }
}
nav ul {
	list-style: none;
}
nav ul a {
	text-decoration: none !important;
	font-size: 18px;
}
nav ul a:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -15px;
	opacity: 0;
	transition: .3s;
}
nav ul a:hover:before {
	opacity: 1;
}
.navbar-toggler {
	height: 35px;
	width: 50px;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid white;
	border-radius: 0;
	outline: none !important;
}
.navbar-toggler span {
	left: 7px;
	right: 7px;
	height: 2px;
	background-color: #fff;
}
.navbar-toggler span:before,
.navbar-toggler span:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #fff;
}
.navbar-toggler span:before {
	top: 8px;
}
.navbar-toggler span:after {
	bottom: 8px;
}
header .right-side {
	padding-left: 30px;
}
header .right-side a {
	text-decoration: none !important;
	font-size: 14px;
	color: black !important;
}
.top-soc {
	white-space: nowrap;
	top: -3px;
}
@media (max-width: 1600px) {
	header .right-side {
		padding-left: 35px;
	}
}
@media (max-width: 991px) {
	header:before {
		display: none;
	}
	header .right-side {
		padding-left: 30px;
	}
	header .left-side {
		background-color: #000;
	}
}
@media (max-width: 575px) {
	#navbarUlivem {
		position: absolute;
		background-color: #000;
		z-index: 2;
		left: 0;
		right: 0;
		transition: .3s;
	}
	nav ul a:before {
		bottom: -5px;
	}
}

.top-slider-text {
	width: 45%;
	padding-left: 22%;
	padding-right: 15px;
	height: 700px;
}
.top-slider-pic {
	width: 55%;
	background-size: cover;
	background-repeat: no-repeat;
}
.top-slider-pic.first-pic {
	background-image: url('../img/top-slide-1.jpg');
}
.top-slider-pic.second-pic {
	background-image: url('../img/top-slide-2.jpg');
}
.top-slider-pic.third-pic {
	background-image: url('../img/top-slide-3.jpg');
}
.top-slider-pic.fourth-pic {
	background-image: url('../img/top-slide-4.jpg');
}
#top-slider .carousel-item {
	transition: .5s !important;
	overflow: hidden;
}
.top-slider-indicators {
	list-style: none;
	position: absolute;
	bottom: -10px;
}
.top-slider-indicators li {
	cursor: pointer;
	font-size: 36px;
	margin: 10px;
	position: relative;
	color: #c4c4c4;
}
.top-slider-indicators li:before {
	content: '';
	width: 100%;
	height: 5px;
	background-color: #c4c4c4;
	position: absolute;
	bottom: -5px;
}
.top-slider-indicators li.active {
	color: #000;
	cursor: default;
}
.top-slider-indicators li.active:before {
	background-color: #000;
}
.top-slider-text h2 {
	font-size: 2.4vw;
	padding-top: 60px;
}
.top-slider-text h2 span {
	font-size: 1.8vw;
}
.top-slider-text h3 {
	font-size: 1.7vw;
}
.top-slider-text h4 {
	font-size: 1.2vw;
}
.top-slider-ul {
	padding-left: 30px;
}
.top-slider-ul li {
	font-size: 13px;
	line-height: 23px;
	list-style: none;
	position: relative;
}
.top-slider-ul li:before {
	content: '';
	display: block;
	/*border: 5px solid transparent;
	border-left: 7px solid #FFF66B;*/
	border: 3px solid #F2C94C;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	position: absolute;
	left: -20px;
	top: 6px;
}
.top-slider-detail {
	color: #000 !important;
	text-decoration: none !important;
	position: relative;
	bottom: 150px;
}
.top-slider-detail span {
	position: absolute;
	display: block;
	width: 20px;
	height: 4px;
	background-color: #000;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 100px;
}
.top-slider-detail span:before,
.top-slider-detail span:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 3px;
	background-color: #000;
	transform-origin: 100% 100%;
}
.top-slider-detail span:before {
	transform: rotate(45deg);
	right: 0px;
	top: 1px;
}
.top-slider-detail span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
@media (max-width: 1599px) {
	.top-slider-text {
		padding-left: 15%;
	}
}
@media (max-width: 1399px) {
	.top-slider-text {
		padding-left: 10%;
	}
	.top-slider-text h2 {
		font-size: 40px;
		line-height: 44px;
	}
	.top-slider-text h2 span {
		font-size: 32px;
	}
	.top-slider-text h3 {
		font-size: 28px;
	}
	.top-slider-text h4 {
		font-size: 20px;
	}
}
@media (max-width: 1199px) {
	.top-slider-text {
		padding-left: 5%;
	}
}
@media (max-width: 991px) {
	.top-slider-text {
		width: 55%;
	}
	.top-slider-pic {
		width: 45%;
	}
	.top-slider-detail {
		bottom: 100px;
	}
}
@media (max-width: 767px) {
	.top-slider-text {
		width: 100%;
		height: auto;
	}
	.top-slider-pic {
		width: 100%;
		height: 50vh;
	}
	.top-slider-text h2 {
		padding-top: 40px;
	}
	.top-slider-detail {
		bottom: 0;
	}
	.top-slider-indicators {
		position: static;
	}
}

#missia {
	background-image: url('../img/missia-fon.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding: 60px 0 150px;
}
#missia .container-xl {
	padding-left: 360px;
}
#missia h2 {
	font-size: 48px;
}
#missia h3 {
	color: #828282;
	position: relative;
	font-size: 36px;
}
#missia h3:before {
	content: '';
	position: absolute;
	display: block;
	width: 100px;
	height: 6px;
	background-color: #fff;
	left: 0;
	bottom: -10px;
}
#missia p {
	font-size: 18px;
	line-height: 26px;
}
#missia p.font-weight-bold {
	line-height: 30px;
}
.missia-detail {
	width: 100%;
	max-width: 350px;
	text-decoration: none !important;
	background-color: #000;
	position: relative;
}
.missia-detail span {
	position: absolute;
	display: block;
	width: 20px;
	height: 3px;
	background-color: #FFF66B;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 80px;
}
.missia-detail span:before,
.missia-detail span:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 3px;
	background-color: #FFF66B;
	transform-origin: 100% 100%;
}
.missia-detail span:before {
	transform: rotate(45deg);
	right: 0px;
}
.missia-detail span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
@media (max-width: 1199px) {
	#missia .container-xl {
		padding-left: 22%;
	}
}
@media (max-width: 991px) {
	#missia .container-xl {
		padding-left: 15%;
	}
}
@media (max-width: 767px) {
	#missia {
		padding: 60px 0;
	}
	#missia .container-xl {
		padding-left: 15px;
	}
	.missia-detail {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 400px) {
	.missia-detail span {
		right: 60px;
	}
}

#proekty {
	background-image: url('../img/proekty-fon.png');
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	top: -160px;
	padding: 160px 0 200px;
	margin-bottom: -200px;
}
#proekty h2 {
	font-size: 48px;
	margin-bottom: 70px;
}
#proekty h3 {
	font-size: 36px;
}
#proekty h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
.proekty-wrap {
	margin: 0 -15px;
}
.proekt-item {
	width: 350px;
	margin: 0 10px;
}
.proekt-item img {
	height: 215px;
}
.proekt-item h5 {
	font-size: 22px;
	padding-top: 5px;
}
.proekty-detail {
	width: 100%;
	max-width: 360px;
	text-decoration: none !important;
	background-color: #000;
	position: relative;
	font-size: 24px;
	border: 2px solid #FFF66B;
	margin: 70px auto 30px;
}
.proekty-detail span {
	position: absolute;
	display: block;
	width: 30px;
	height: 3px;
	background-color: #FFF66B;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 40px;
}
.proekty-detail span:before,
.proekty-detail span:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 3px;
	background-color: #FFF66B;
	transform-origin: 100% 100%;
}
.proekty-detail span:before {
	transform: rotate(45deg);
	right: 0px;
}
.proekty-detail span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
@media (max-width: 1199px) {
	#proekty {
		top: -200px;
		margin-bottom: -240px;
	}
}
@media (max-width: 767px) {
	#proekty {
		top: 0;
		background-image: none;
		background-color: #000;
		padding: 70px 0;
		margin-bottom: 0;
	}
	.proekty-detail {
		margin: 30px auto 0;
	}
}
@media (max-width: 400px) {
	.proekt-item img {
		height: auto;
	}
	.proekty-detail {
		font-size: 18px;
	}
	.proekty-detail span {
		right: 25px;
	}
}

#uslugi {
	padding: 0 0 70px;
}
#uslugi h2 {
	font-size: 48px;
}
#uslugi h3 {
	font-size: 36px;
	color: #828282;
}
#uslugi h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
#uslugi p.text-center {
	font-size: 22px;
}
.uslugi-wrap {
	margin: 0 -15px;
}
.uslugi-item {
	width: 350px;
	margin: 0 10px;
}
.uslugi-item a {
	background-color: #000;
	bottom: 0;
	left: 30px;
	right: 30px;
	text-decoration: none !important;
}
@media (max-width: 767px) {
	#uslugi {
		padding: 70px 0 50px;
	}
}

#formaty {
	background-color: #F2F2F2;
}
#formaty h2 {
	font-size: 48px;
}
#formaty h3 {
	font-size: 36px;
	color: #828282;
}
#formaty h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
#formaty .carousel-item {
	min-height: 590px;
	transition: .5s !important;
}
#formaty .carousel-item img {
	max-height: 100%;
	max-width: 100%;
}
.formaty-control-left,
.formaty-control-right {
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	transition: .3s;
}
.formaty-control-left:hover,
.formaty-control-right:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/*transform: matrix(1, 0, 0, -1, 0, 0);*/
}
.formaty-control-left {
	background-color: #C4C4C4;
}
.formaty-control-right {
	right: 0;
	background-color: #212121;
}
.formaty-slider-detail {
	width: 100%;
	max-width: 290px;
	text-decoration: none !important;
	background-color: #000;
}
.formaty-slider-detail span {
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	background-color: #FFF66B;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 65px;
}
.formaty-slider-detail span:before,
.formaty-slider-detail span:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 3px;
	background-color: #FFF66B;
	transform-origin: 100% 100%;
}
.formaty-slider-detail span:before {
	transform: rotate(45deg);
	right: 0px;
}
.formaty-slider-detail span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
@media (max-width: 991px) {
	#formaty .carousel-item {
		min-height: 480px;
	}
}
@media (max-width: 575px) {
	#formaty .carousel-item {
		min-height: 300px;
	}
}
@media (max-width: 400px) {
	#formaty .carousel-item {
		min-height: 200px;
	}
}

#akcii {
	padding: 70px 15px;
}
#akcii h2 {
	font-size: 48px;
}
#akcii h3 {
	font-size: 36px;
	color: #828282;
}
#akcii h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
.akc-slider {
	max-width: 1250px;
}
.akc-wrap {
	padding: 100px 0;
}
.akc-item {
	max-width: 380px;
	background-color: #F2F2F2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 90px 10px 50px;
	height: 550px;
}
.akc-icon {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #f2f2f2;
	left: 0;
	right: 0;
	margin: auto;
	top: -75px;
	background-color: #fff;
	overflow: hidden;
}
.akc-icon img {
	max-width: 70%;
}
.akc-name {
	font-size: 24px;
}
.akc-price {
	font-size: 64px;
}
.akc-slider-detail {
	width: 100%;
	max-width: 290px;
	text-decoration: none !important;
	background-color: #000;
	bottom: -45px;
	left: 0;
	right: 0;
	margin: auto;
}
.akc-slider-detail span {
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	background-color: #FFF66B;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 70px;
}
.akc-slider-detail span:before,
.akc-slider-detail span:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 3px;
	background-color: #FFF66B;
	transform-origin: 100% 100%;
}
.akc-slider-detail span:before {
	transform: rotate(45deg);
	right: 0px;
}
.akc-slider-detail span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
.akc-slider .slick-dots {
	bottom: -20px;
}
.akc-slider .slick-dots li {
	height: 15px;
	width: 15px;
}
.akc-slider .slick-dots li button {
	border-radius: 50%;
	background-color: #4F4F4F;
	height: 15px;
	width: 15px;
}
.akc-slider .slick-dots li button:before {
    content: '';
    background-color: transparent;
	display: block;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
}
.akc-slider li.slick-active button:before {
    opacity: 1;
    background-color: #FFF66B;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 19px;
	height: 19px;
	top: -2px;
	left: -2px;
}
@media (max-width: 767px) {
	.akc-wrap {
		padding: 100px 0 70px;
	}
}
@media (max-width: 575px) {
	.akc-item {
		max-width: 300px;
	}
	.akc-price {
		font-size: 50px;
	}
}

#news {
	background-color: #212121;
}
#news h2 {
	font-size: 48px;
}
#news h3 {
	font-size: 36px;
	color: #828282;
}
#news h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
.news-date {
	color: #828282;
}
.news-detail {
	width: 100%;
	max-width: 190px;
	text-decoration: none !important;
	background-color: #000;
	border: 1px solid #FFF66B;
	font-size: 14px;
}
.news-detail span {
	position: absolute;
	display: block;
	width: 22px;
	height: 3px;
	background-color: #fff;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;
}
.news-detail span:before,
.news-detail span:after {
	content: '';
	position: absolute;
	display: block;
	width: 12px;
	height: 3px;
	background-color: #fff;
	transform-origin: 100% 100%;
}
.news-detail span:before {
	transform: rotate(45deg);
	right: 0px;
}
.news-detail span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
.news-prew-text {
	font-size: 14px;
	text-align: justify;
}
.news-title {
	font-size: 18px;
}

#partners {
	padding: 70px 0 90px;
	border-bottom: 1px solid #C4C4C4;
}
#partners h3 {
	font-size: 36px;
	color: #828282;
}
#partners h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
#partners img {
	filter: grayscale(1);
	transition: .3s;
	margin: 10px;
}
#partners img:hover {
	filter: grayscale(0);
}
.part-wrap:first-of-type {
	border-bottom: 1px solid #C4C4C4;
}
@media (max-width: 991px) {
	#partners {
		padding: 60px 0 0;
	}
}

#forma {
	padding: 70px 0 100px;
}
#forma h2 {
	font-size: 48px;
}
#forma h3 {
	font-size: 36px;
	color: #828282;
}
#forma h3 span:before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
#forma p.text-center {
	color: #828282;
	font-size: 24px;
}
#forma input {
	background: #F2F2F2;
	border: 1px solid #212121;
	border-radius: 0;
	height: 60px;
}
#forma textarea {
	background: #F2F2F2;
	border: 1px solid #212121;
	width: 100%;
	resize: none;
	height: 100px;
	padding: 10px;
}
.forma-submit {
	width: 100%;
	max-width: 290px;
	text-decoration: none !important;
	background-color: #000;
	border: none;
}
.forma-submit span {
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	background-color: #FFF66B;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 65px;
}
.forma-submit span:before,
.forma-submit span:after {
	content: '';
	position: absolute;
	display: block;
	width: 15px;
	height: 3px;
	background-color: #FFF66B;
	transform-origin: 100% 100%;
}
.forma-submit span:before {
	transform: rotate(45deg);
	right: 0px;
}
.forma-submit span:after {
	transform: rotate(-45deg);
	right: -2px;
	top: -1px;
}
@media (max-width: 575px) {
	#forma {
		padding: 60px 0;
	}
}

footer {
	background-color: #212121;
}
footer:before {
	content: '';
	position: absolute;
	display: block;
	height: 5px;
	background-color: #FFF66B;
	left: 0;
	right: 0;
	top: 100px;
}
.foot-content {
	max-width: 550px;
	background-color: #212121;
}
.foot-copy {
	border-top: 1px solid #FFFFFF;
	font-size: 14px;
}
.foot-contacts a {
	text-decoration: none !important;
}

/* modal */
.modal-yellow .modal-dialog,
.modal-black .modal-dialog {
	width: 100%;
	max-width: 1380px;
}
.modal-yellow .modal-content,
.modal-black .modal-content {
	border-radius: 0;
	padding: 60px 80px 40px;
	border: none;
	background-size: cover;
}
.modal-yellow input,
.modal-black input {
	background: #fff;
	border: 1px solid #212121;
	border-radius: 0;
	height: 60px;
}
.modal-yellow textarea,
.modal-black textarea{
	background: #fff;
	border: 1px solid #212121;
	width: 100%;
	resize: none;
	height: 100px;
	padding: 10px;
}
.modal-yellow p.text-center,
.modal-black p.text-center {
	font-size: 24px;
}
.modal-yellow .close,
.modal-black .close {
	right: 20px;
	top: 15px;
	cursor: pointer;
}
@media (max-width: 991px) {
	.modal-yellow .modal-content,
	.modal-black .modal-content {
		padding: 40px 30px 30px;
	}
}
@media (max-width: 400px) {
	.modal-yellow .modal-content,
	.modal-black .modal-content {
		padding: 20px 15px;
	}
	.modal-yellow .forma-submit span,
	.modal-black .forma-submit span {
		right: 40px;
	}
}


.modal-yellow .modal-content {
	background-image: url('../img/modal-yellow-fon.jpg');
}
.modal-yellow h2 {
	font-size: 48px;
}
.modal-yellow h3 {
	font-size: 36px;
	color: #828282;
}
.modal-yellow h3 span:before {
	content: '';
	display: block;
	width: 100%;
	max-width: 320px;
	left: 0;
	right: 0;
	margin: auto;
	height: 6px;
	background-color: #fff;
	position: absolute;
	bottom: -10px;
	left: 0;
}



.modal-black .modal-content {
	background-image: url('../img/modal-black-fon.jpg');
}
.modal-black h2 {
	font-size: 48px;
	color: #fff;
}
.modal-black h3 {
	font-size: 36px;
	color: #fff;
}
.modal-black h3 span:before {
	content: '';
	display: block;
	width: 100%;
	max-width: 320px;
	left: 0;
	right: 0;
	margin: auto;
	height: 6px;
	background-color: #FFF66B;
	position: absolute;
	bottom: -10px;
	left: 0;
}
.modal-black p.text-center,
.modal-black .close {
	color: #fff;
}
.modal-black .forma-submit {
	border: 1px solid #FFF66B;
}


/* pages */
.yellow-line {
	background-color: #FFF66B;
}
.yellow-line .home {
	top: -2px;
}
#uslugi.page {
	padding: 70px 0;
}
#uslugi.page .uslugi-item p {
	font-size: 14px;
}
@media (max-width: 575px) {
	#uslugi.page {
		padding: 50px 0 0;
	}
}